/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$|  CSS de tout le projet     |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$| CSS du header (bloc1)        |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.ul_bloc1 a{ 
		background-color: none;	
		text-align: center;	
}
.ul_bloc1{
	margin-right: 100px;
	position: 	relative;	
	top: 41px;
	text-align: center;	
}
#row_div_bloc1{
	background: inherit;
	border:none;
	text-align: center;		
}
.img1{
	background-image:url('../images/1.jpg'); 
	height: 700px;
	background-repeat: no-repeat;
	background-size: 100%; 
}
#border_nav{
	/*border-bottom: 0px solid white;*/

}
#text1{
	font-family: arial black;
	 font-weight: bold;
	 color: white;
	 font-size: 50px;
	 margin-top: 30px;
}
#text2{
	font-size: 40px;
	color: #ffa726;
	margin-top: 50px;
}
.navb{
	color: white !important;
	font-size: 18px;
	font-family: times;
	margin-left: 10px;
	font-weight: normal;
	padding-bottom: 50px;
}
.bbb{
	border-bottom: 2px solid white;
}
.bbbb{ 
	margin-top: -13px;
	width: 500	
}
ul a:focus{
	color:orange !important;
	background-color: transparent !important;
	border-bottom: 2px solid orange;
}
ul a:hover{
	color:orange !important;
	background-color: transparent !important;
	border-bottom: 2px solid orange;
}
.span_li{
	margin-bottom: 20px !important;
}
.carousel-indicators li{
	background-color: orange;
	border-style: none;
}
.h1{
	color: white;
	font-weight: bold;
	font-family: arial black;
	text-align: center;
	line-height: 60px;
	font-size: 50px;
	margin-top: 20px
}
.net_banking{
	margin-top: 20px;
	margin-left: 10px;
}
#carouselE{
	margin-top: 30px;
}
/*div_nav{
	margin-left: 150px;
	margin-top: 52px;
	background-color: inherit !important;
}*/
#btn_slide{
	position: relative;
	top: 10px;
	color: orange;
}
#bnn{
	margin-left: 5px;
	color:orange;
}
.para1{
	margin: 30px;
	text-align: center;
	color: white;
	font-size: 17.5px;
	line-height: 30px;
}
.div_col1{
	margin-top: 100px;
}
.smart{
	margin-left: 30px;
}
.h1_title{
	text-align: center;
	color:#ffa726;
	font-family:arial;
	font-weight: normal;
	font-size: 50px;
	margin: 40px;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| CSS bloc 2 (Welcome)     |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.para2{
	text-align: center;
	margin: 100px;
	font-size: 13.7px;
	margin-top: 30px;
	opacity: 0.6;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$|  CSS bloc3 (About Us)     |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#row1_bloc3{
	background-color: #eeeeee;
}
.h3_bloc3{
	font-family:arial black; 
	font-weight:bold;
	margin-top: -3px;
}
.row_p1_bloc3{

}
.img9{
	margin-bottom: 70px;
}
.imgc1{
	width: 70%;
	height: 70%;
	border:2px solid #eeeeee;
}
.para_bloc3{
	line-height: 35px;
	opacity: 0.5;
}
#row_p1_bloc3{
	margin-top:15px;
}


.input{
	height: 30px;
}
#btn_input1{
	height: 45px;
	margin-left:5px;
	width: 120px;
	background-color:orange !important;

}
#input1{
	height: 45px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| CSS bloc4   (Our Service)        $$$$$$$$$$$$$$$$$$$*/
.img10{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;

}
.bloc4{
	border:4px solid #eeeeee;
	margin-bottom: 70px;
	width: 100%;
	padding: 7px;
}
.bloc4 span{
	opacity:0.5;
	font-weight:bold;
	font-size: 13px;
}
.h3_bloc4{
	 font-family:arial black;
	 font-weight:bold;
}
.h4_bloc4{
	font-family: arial black;
	font-weight: bold;
}
.para_col3{
	font-weight: bold;
	text-align: left;
	float: left;
	opacity: 0.5;
}
.para_col1{
	opacity: 0.5;
}
.para_col2{
	font-weight: bold;
	color:orange;
	margin-top: 5px;
	font-size: 15px;
	float: left; 
}




/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| CSS bloc 5  (Our bloc)           |$$$$$$$$$$$$$$$$$$*/
.img_bloc5{
	background:url('../images/b1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
}


.number_bloc5{
	font-weight: bold;
	color: white;
	font-family: arial black;
	margin-top: -2px;
	text-align: center;
	font-size: 40px;
}
#title_bloc5{
	margin-top: 100px;
}

.text_after_end{
	color: white;
	font-weight: normal;
}
#bloc5_margin{
	margin-top: 30px;
	opacity: 0.5;
}
#h1_p_bloc5{
	font-weight: normal;
	color: white;
	font-family:normal;
	margin-top: 48px;
	text-align: center;
	font-size:15px;

}
.bloc5_bold{
	font-weight: bold !important;
}

.text_end_bloc5{
	font-weight: bolder;
	opacity: 0.3;
	font-family: normal;
}
.end_rounded{
		border-radius: 50%;
		background-color:gray;
		height: 70px;
		width: 70px;
		opacity: 0.4;
		text-align: center;
		margin-left: 90px;
		margin-top: 30px;
	}
.input_rounded{
	font-size: 30px;
	color: white;
	margin-top: 20px;
}
.p_rounded{
	margin-left: 90px;
	font-weight: bold;
	margin-top: 15px;
	font-size: 15px;
}
#bloc5_margin1{
	margin-top: 50px;
	opacity: 0.4;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| CSS bloc 6 ( News &  event)      |$$$$$$$$$$$$$$$$$$*/
#title_bloc6{
	margin-top: 100px;
}

.img_bloc6{

	width: 100%;
	margin-top: 15px;
}
.div_img_bloc6{
	border:5px solid #eeeeee; 
	

}
.btn_news_bloc6{
	border:2px solid black;
	width: 100px;
	height: 30px;
	margin-bottom: 15px;
}
#div_id2_bloc6{
	margin-left:15px; 
}
#div_id3_bloc6{
	margin-left:15px; 
}
#div_id1_bloc6{
	margin-left:155px; 
}
.P_bloc6{
	line-height: 25px;
	outline-width: 30px;
	font-size: 14.2px;
}
.h4_bloc6{
	font-family: arial black;
	font-weight: bold;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| CSS bloc 7 ( Clients feedback)   |$$$$$$$$$$$$$$$$$$$*/
.row_bloc7{
	background:url('../images/7.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	height: 500px; 
	margin-bottom: 60px;
	margin-top: 60px;
	
}
.img_bloc7{
	margin-left: 90px;
	height: 60px;
	margin-top: 30px;
}
.ground_p{
	background-color: gray;
	height: 100px;
	width: 310px;
	opacity: 0.7;
	margin-top: 30px;
	margin-left: 40px;
}
.div_p_bloc7{
	color:white;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
.name1_bloc7{
	color: orange;
	font-family: arial black;
	font-weight: bold;
	margin-left:5px;
}
.name2_bloc7{
	color: white;
	margin-left: 155px;
	position: relative;
	top: -40px 
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| le CSS du bloc 8 ( Newsletter)   |$$$$$$$$$$$$$$$$$$$ */
.col_bloc8{
	margin-bottom: 60px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$| le CSS du bloc 9 ( bloc de la map)$$$$$$$$$$$$$$$$$$$$*/
.map_bloc9{
	width: cover;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$le CSS de l'avant dernier bloc (bloc 10)$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$$$$$$| la class "h1_title s'applique sur tous mes titre en orange|$$$$$$$"*/
#btn_input_bloc10{
	height: 30px;
	width: 100px;
	background-color:orange !important;
	float: right;
}
.row_h4_bloc10{
	font-weight: bold;
	font-family: arial black;
	font-size: 17px;
}
.p_bloc10{
	opacity: 0.4;
	font-weight: bold;
	font-family: arial;
}
/*#Col1_contact{
	margin-left: 0px !important;
}
.col2_contact{
 	margin-left: 0px;
}*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$ le CSS du dernier bloc (bloc 11)$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.img_end{
	background:url('../images/7.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	height: 25%; 
	margin-top: 50px;




}
.net_banking_end{
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
}
.h5_end{
	color: white;
	font-weight: bold;
	font-family: arial black;
}
.row_h5_end{
	text-align: center;
}
.row_span_end{
	text-align: center;
}
#span_h5{
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}
.span_end{
	color: white;
	font-size: 15px;
	margin: 10px;
	text-align: center;
	margin-top: 20px;
}
.p_end{
	color: white;
	text-align: center;
	margin-top: 30px;
	margin-bottom:25px; 
}
#btn_retour{
	margin-top: -30px;
	margin-right: 10px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$|       Medias query       |$$$$$$$$$$$$$$$$$$$*/
@media only screen and (max-width:768px){
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$|  bloc1      |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
	#home{
		margin-bottom: 60px;
	}
	.div_col1{
	margin-top: -100px;
	margin-bottom: 200px;
	}
	.h1{
	text-align: center;
	line-height: 35px;
	font-size: 25px;
	}
	.para1{
	margin-top: 20px;
	text-align: center;
	color: white;
	font-size: 13px;
	line-height: 30px;
	}
	#btn_slide{
	position: relative;
	top: -30px;
	color: orange;
	z-index: 1;
	}
	.img1{
	background-image:url('../images/1.jpg'); 
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size:cover;
	height: 500px; 
	}
	#but1{
		margin-top: -55px;
	}
	.net_banking{
	margin-top: 0px;
	margin-left: 10px;
	border-bottom: 1px solid white;
	}
	#text1{
	font-family: arial black;
	 font-weight: bold;
	 color: white;
	 font-size: 50px;
	 margin-top: 0px;
	}
	#text2{
	font-size: 40px;
	color: #ffa726;
	margin-top: 0px;
	}
	.bbb{
	border-bottom: 2px;
	}
	.span_li{
	margin-bottom: 0px !important;
	}
	.h1_title{
	text-align: center;
	color:#ffa726;
	font-family:arial;
	font-weight: normal;
	font-size: 50px;
	margin-top: -100px;
	}
	.navb{
	color: white !important;
	font-size: 18px;
	font-family: times;
	margin-left: 10px;
	font-weight: normal;
	padding-bottom: 50px;
	
		}
		.ul_bloc1{
	margin-right: 0px;
	position: 	relative;	
	top: -20px;
	text-align: center;	
	width: 100%;
	height: 310px;
	background-color: black;
	opacity: 0.7;
	z-index: 10;
	position: absolute;
	

		}
		.ul_bloc1 a{
			color: 	white;
		}
	
	#row_div_bloc1{
	background: inherit;
	border:none;
	text-align: center;
	}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$|  bloc2     |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
	#row_div{
		margin-top: -550px;
	}
	.para2{
		margin: 10px;
		font-size: 13.7px;
		margin-top: 20px;
		opacity: 0.6;
	}
	.h1_title{
		text-align: center;
		color:#ffa726;
		font-family:arial;
		font-weight: normal;
		font-size: 50px;
		margin-top: 0px;
	}
	.para3{
		margin: 10px;
		margin-left: 10px;
	}
	.row_p{
		margin: 10px;
	}
	#About{
		margin-top: 40px;
	}
	#row1_bloc3{
		margin-top: 50px;
	}
	#About_bloc1{
		margin-left: 0px;
		margin-top: -50px;
	}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$|   bloc4     |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
	.p1bloc4{
		background-color:blue;
		border-radius: 50%; 
		height: 100px; 
		width: 100px;
	}
	#service{
		margin-top: 50px;
	}
	.h3_bloc4{
		margin-left: -2px;
	}
	.imgc1{
		width: 70%;
		height: 70%;
		border:2px solid #eeeeee;
	}
	.bloc4{
		margin-top: 20px;
	}
	.end_rounded{
		border-radius: 50%;
		background-color:gray;
		height: 70px;
		width: 70px;
		opacity: 0.4;
		text-align: center;
		margin-left: 30px;
		margin-top: 30px;
	}
	.input_rounded{
		font-size: 30px;
		color: white;
		margin-top: 20px;
	}
	.p_rounded{
		margin-left: 5px;
		font-weight: bold;
		margin-top: 15px;
		font-size: 20px;
		text-align: center;
		font-family: arial;
		line-height: 22px;
	}
	/*$$$$$$$$$$$$$$$$$$$$$$|   bloc 5  |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
	.img_bloc5{
		background:url('../images/b1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 680px;
	}
	#title_bloc5{
		margin-top: 70px;
	}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$|       bloc6       |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

	#title_bloc6{
		margin-top: 60px;
	}
	.div_img_bloc6{
		border:5px solid #eeeeee; 
		margin-top: 20px;
	}
	#div_id1_bloc6{
		margin-left:0px !important; 
	}
	#div_id2_bloc6{
		margin-left:0px; 
	}
	#div_id3_bloc6{
		margin-left:0px; 
	}
	.row_bloc7{
		background:url('../images/7.jpg');
		background-repeat:no-repeat;
		background-size: cover;
		height: 550px; 
		margin-bottom: 20px;
		margin-top: 60px;
	}
	#title_bloc7{
		margin-top: 50px;
	}
	#contact{
		margin-top: 40px;
	}
	.ground_p{
		background-color: gray;
		height: 100px;
		width: 220px;
		opacity: 0.7;
		margin-top: 30px;
		margin-left: 0px;
	}
	.img_bloc7{
		margin-left: 45px;
		height: 60px;
		margin-top: 30px;
	}
	.dispa_bloc7{
		display: none;
	}
	.name2_bloc7{
		color: white;
		margin-left: 110px;
		position: relative;
		top: -40px 
	}
	.btn-slide2{
		margin-top: 50px;
	}
	.col2_contact{
		margin-left: 0px;
	}
	

}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.ul_bloc1{
		margin-right:0px;
		position: 	relative;	
		top: 31px;
		left: -30px;
		text-align: center;	
	}
	.navb{
		color: white !important;
		font-size: 18px;
		font-family: times;
		margin-left: 0px;
		font-weight: normal;
		padding-bottom: 70px;
	}
	.net_banking{
		margin-top: 10px;
		margin-left: 10px;
	}
	.img1{
		background-image:url('../images/1.jpg'); 
		height: 700px;
		background-repeat: no-repeat;
		background-size: cover; 
	}
	.h1{
		color: white;
		font-weight: bold;
		font-family: arial black;
		text-align: center;
		line-height: 60px;
		font-size: 45px;
		margin-top: 20px
	}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$|   About    |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
	#row1_bloc3{
		background-color: #eeeeee;
		margin-top: -30px;
	}
	#About_bloc1{
		margin-left: 0px;
		margin-top: -50px;
	}
/*$$$$$$$$$$$$$$$$$$$$$$$$$|    our service    |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
	.bloc4 p{
		font-size: 17px;
	}
	/*$$$$$$$$$$$$$$$$$$$$$$$|    our   blog    |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
	.img_bloc5{
		background:url('../images/b1.jpg');
		background-size:cover;
		background-repeat: no-repeat;
		height: 700px;
	}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$| client feeback  |$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

	}.ground_p{
		background-color: gray;
		height: 100px;
		width: 280px;
		opacity: 0.7;
		margin-top: 30px;
		margin-left: 0px;
	}
	#div_id1_bloc6{
		margin-left:105px; 
	}


}
